@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Gowun+Dodum&display=swap');

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7rem;
  }

  /* header */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #title {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: white;
    font-size: 1.5rem;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 800;
    z-index: 9;
  }
  
  .mainpage {
    visibility: hidden;
  }
  
  #background {
    position: absolute;
    top: 0.5rem;
    width: 456px;
    height: 546px;
    border: 1px solid;
    z-index: 0;
  }

  /* bgm 버튼 */
  #sound-contain {
    display: flex;
    position: absolute;
    align-items: center;
    top: 1rem;
    left: 5rem;
  }

  .soundbtn {
    display: none;
  }
  
  .soundbtn.show-soundbtn {
    display: flex;
    position: absolute;
    width: 20px;
    cursor: pointer;
    z-index: 9;
    right: 3rem;
  }

  /* 시작 이미지 */
  .start-img {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: thistle;
    border-radius: 5px;
    z-index: 8;
  }

  #start-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
    padding: 20px;
  }

  #startbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
    padding: 2px 12px;
    margin-bottom: 1rem;
    background-color: #f3e7ff;
    border: 1px solid #efe0fe;
    border-radius: 11px;
    color: #8d2cd3;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    transition: border .2s ease-in-out;
    touch-action: manipulation;
  }

  #startbtn:hover {
    background-color: #f8e3ff;
    border-color: #cca4fa;
  }

  /* 게임 메인 화면 */
  #main {
    z-index: 7;
    display: flex;
    height: 510px;
    justify-content: center;
    align-items: center;
  }

  .board {
    justify-content: center;
    width: 370px;
    height: 510px;
  }

  .cardSet {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.4rem;
    justify-items: center;
    align-items: center;
    margin-top: 2.7rem;
  }

  .card { 
    z-index: 8;
    width: 90px;
    border-radius: 20%;
    box-shadow: 1px 4px 0 rgb(0 0 0 / 30%);
    cursor: pointer;
    outline: none;
    animation-fill-mode: forwards;
  } 
  
  .card:active { 
    position: relative; 
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    border: 3px solid rgb(200, 230, 80);
    top:3px;
  }

  .card:hover {
    border: 1px solid rgb(200, 232, 100);
  }

  .card.clicked {
    border: 3px solid rgb(200, 230, 80);
  }

  /* 다시하기, 정답 확인하기 버튼 */
  .btns {
    display: flex;
    margin-top: 1.5rem;
    column-gap: 4rem;
    text-align: center;
    justify-content: center;
  }

  #answer, #restart {
    display: flex;
    z-index: 8;
    height: 40px;
    width: 140px;
    padding: 2px 12px;
    border-radius: 11px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
    text-shadow: none;
    text-align: left;
    transition: border .2s ease-in-out;
    touch-action: manipulation;
  }

  #answer {
    background-color: #FFE7E7;
    border: 1px solid #FEE0E0;
    color: #D33A2C;
  }

  #answer:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
  }

  #restart {
    background-color: #e7f4ff;
    border: 1px solid #e0f1fe;
    color: #2c85d3;
  }

  #restart:hover {
    background-color: #e3f1ff;
    border-color: #a4d9fa;
  }

  /* 정답, 오답 팝업 */
  .popup {
    display: none;
   }

  .popup.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    padding: 13px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 5px;
    background-color: thistle;
  }

  .modal-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .close-icon {
    display: flex;
    width: 15px;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  #correct-text,
  #wrong-text {
    display: flex;
    width: 306px;
    margin: 15px;
  }

  #correct-img {
    width: 100px;
    border-radius: 100px;
  }

  #wrong-img {
    width: 80px;
    margin: 5px;
  }
  
  .click-lock {
    pointer-events : none;
  }

  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-items: center;
    top: 35rem;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 3px;
    color: rgb(0,0,0,0.3);
  }

  #ref-btn {
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  .refs {
    visibility: hidden;
  }

  .refs.show-ref {
    display: flex;
    flex-direction: column;
    visibility: visible;
    justify-content: center;
    color: rgba(55, 54, 54, 0.3);
    font-size: 2px;
    text-decoration: none;
  }