@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Gowun+Dodum&display=swap');

  body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mainpage {
    visibility: hidden;
  }

  .soundbtn {
    display: none;
  }
  
  .soundbtn.showsoundbtn {
    display: flex;
    position: fixed;
    right: 5rem;
    top: 5rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    right: 1rem;
    top: 4.5rem;
    z-index: 9;
  }

  #title {
    z-index: 9;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
  }

  #background {
    position: fixed;
    top: 60px;
    width: 500px;
    height: 650px;
    border: 1px solid;
    z-index: 0;
  }

  .landing {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: thistle;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    z-index: 8;
  }

  #startText {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 350px;
  }

  #startbtn {
    height: 35px;
    width: 140px;
    justify-content: center;
    align-items: center;
    background-color: #f3e7ff;
    border: 1px solid #efe0fe;
    border-radius: 11px;
    color: #8d2cd3;
    cursor: pointer;
    display: flex;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 30px;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    transition: border .2s ease-in-out;
    touch-action: manipulation;
    margin-bottom: 1rem;
  }

  #startbtn:hover {
    background-color: #f8e3ff;
    border-color: #cca4fa;
  }

  #main {
    z-index: 7;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .board {
    justify-content: center;
    width: 370px;
  }

  .cardSet {
    display: grid;
    grid-template-rows: repeat(4, 115px);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    align-items: center;
    justify-items: center;
  }

  .card { 
    z-index: 8;
    width: 110px;
    border-radius: 20%;
    cursor: pointer; 
    outline: none; 
    box-shadow: 1px 4px 0 rgba(0, 0, 0, 0.3); 
    animation-fill-mode: forwards;
  } 
  
  .card:active { 
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
    border: 3px solid rgb(200, 230, 80);
    position: relative; 
    top:3px;
  }

  .card:hover {
    border: 1px solid rgb(200, 232, 100);
  }

  .card.clicked {
    border: 3px solid rgb(200, 230, 80);
  }

  .btns {
    margin-top: 2rem;
    display: flex;
    column-gap: 4rem;
    text-align: center;
    justify-content: center;
  }

  #answer, #restart {
    z-index: 8;
    height: 40px;
    width: 140px;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    padding: 2px 12px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    transition: border .2s ease-in-out;
    touch-action: manipulation;
  }

  #answer {
    background-color: #FFE7E7;
    border: 1px solid #FEE0E0;
    color: #D33A2C;
  }

  #answer:hover {
    background-color: #FFE3E3;
    border-color: #FAA4A4;
  }

  #restart {
    background-color: #e7f4ff;
    border: 1px solid #e0f1fe;
    color: #2c85d3;
  }

  #restart:hover {
    background-color: #e3f1ff;
    border-color: #a4d9fa;
  }

  .popup {
    display: none;
   }

  .popup.modal {
    z-index: 9;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    justify-content: center;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .inmodal{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .closeicon {
    display: flex;
    width: 15px;
    height: 15px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  #correctText,
  #wrongText {
    display: flex;
    width: 350px;
    margin: 20px;
  }

  #correctImg {
    width: 130px;
    height: 130px;
    border-radius: 100px;
  }

  #wrongImg {
    width: 110px;
    height: 110px;
    margin: 5px;
  }
  
  .clicklock {
    pointer-events : none;
  }

  footer {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 3px;
    color: rgb(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    justify-items: center;
  }

  #ref_btn {
    border: none;
    color: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }

  .refs {
    visibility: hidden;
  }

  .refs.showref {
    visibility: visible;
    display: flex;
    font-size: 2px;
    flex-direction: column;
    justify-content: center;
    color: rgba(55, 54, 54, 0.3);
    text-decoration: none;
  }